<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<section xmlns="http://docbook.org/ns/docbook" version="5.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:id="_spring_8py" xml:lang="en-US">
<title>examples/spring.py File Reference</title>
<indexterm><primary>examples/spring.py</primary></indexterm>
<simplesect>
    <title>Namespaces    </title>
        <itemizedlist>
            <listitem><para>namespace <link linkend="_namespaceexamples">examples</link></para>
</listitem>
            <listitem><para>namespace <link linkend="_namespaceexamples_1_1spring">examples.spring</link></para>
</listitem>
        </itemizedlist>
</simplesect>
<simplesect>
    <title>Functions    </title>
        <itemizedlist>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1ab4b7a17b6f29a47a16b6e750c9f44b6a">examples.spring._feasible</link> (x)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a682c6c4156dd71a76e42d83aa869de29">examples.spring.constraint_ineq</link> (x)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1ad819bd367024b1a2ff5dcdcf9baf0f26">examples.spring.penalty</link> (x)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a44581395454773e536a02fcb79378602">examples.spring.weight</link> (x)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a39b97ec21efea793b97726fa1bdc4d0b">examples.spring.weight_penalty</link> (x)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a5548a6c0d57e91af650b43407f2f1c60">examples.spring.print_result</link> (<link linkend="_namespaceexamples_1_1spring_1afc682836ceabbcec865a7a97824dd4ea">ret</link>, best, <link linkend="_namespaceexamples_1_1spring_1a8e8a7e5d2cdf369ae80b7ff233303f5b">t0</link>, i)</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a4f4f0af3100172a2bbc0cb83f41b898b">examples.spring.test_minimize_SLSQP</link> (fun, num)</para>
</listitem>
        </itemizedlist>
</simplesect>
<simplesect>
    <title>Variables    </title>
        <itemizedlist>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a55a6dd02772bb5070ce3d3ee23159536">examples.spring.stdout</link></para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1aeded92414f5c10780704c6973ae03d81">examples.spring.format</link></para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a5c04a0e5f94323fd06f6650b9cad6511">examples.spring.level</link></para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1ae6ba700de81ecca5fda9ecb43131e822">examples.spring.bounds</link> = Bounds([0.01, 0.01, 0.01], [20, 20, 20])</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1a8e8a7e5d2cdf369ae80b7ff233303f5b">examples.spring.t0</link> = time.perf_counter();</para>
</listitem>
            <listitem><para><link linkend="_namespaceexamples_1_1spring_1afc682836ceabbcec865a7a97824dd4ea">examples.spring.ret</link> = <link linkend="_namespacefcmaes_1_1advretry_1ac919a7d43929d78301af60b182a99f24">advretry.minimize</link>(<link linkend="_namespaceexamples_1_1spring_1a39b97ec21efea793b97726fa1bdc4d0b">weight_penalty</link>, <link linkend="_namespaceexamples_1_1spring_1ae6ba700de81ecca5fda9ecb43131e822">bounds</link>, num_retries = 320)</para>
</listitem>
        </itemizedlist>
</simplesect>
</section>
